table{
    background: lightblue;
    border: 10px solid lightblue;
    border-spacing: 0;
}

td{
    border: 2px solid lightblue;
}

button {
    width: 100%;
    padding: 2px;
    border-width: 0;
    border-bottom: 5px solid black;
}

button:hover{
    background: purple;
}

button.functional {
    background: red;
    color: white;
}

button.functional:hover{
    background: purple;
}

button.equals {
    height: 60px;
}

button.equals:hover{
    background: purple;
}

.inputField{
    background: black;
    color: white;
    text-align: right;
}
